<div>
  <h3>{{ playlist.name }}</h3>

  <form class="form-horizontal" name="Songs">
    <fieldset>
      <legend>Add to playlist</legend>
      <div class="form-group">
        <label class="col-xs-2 control-label">Song</label>
        <div class="col-xs-10">
          <select class="form-control" ng-options="song as song.name for song in getSongs" ng-model="songName" name="SongList" required> 
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-10 col-xs-offset-2">
          <button type="submit" class="btn btn-success" ng-disabled="Songs.Songlist.$invalid" ng-click="addToPlaylist(songName, playlist)">Add to Playlist
          </button>
      <!--     <div ng-show="newPlaylist.playlistName.$dirty && newPlaylist.playlistName.$invalid" class="alert-danger">Please enter a name </div> -->
        </div>
      </div>
    </fieldset>
  </form>



  <table class='table' ng-show="playlist.songs.length">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Artists</th>
        <th>Genres</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="song in playlist.songs" ng-class="{active: song === getCurrentSong() }">
        <td>
          <button class="btn btn-default btn-xs" ng-click="toggle(song)">
            <span class="glyphicon" ng-class="{ 'glyphicon-pause': isPlaying(song), 'glyphicon-play': !isPlaying(song) }"></span>
          </button>
        </td>
        <td>{{ song.name }}</td>
        <td><span ng-repeat="artist in song.artists">{{ artist.name }}{{ $last ? '' : ', ' }}</span></td>
        <td>{{ song.genres.join(', ') }}</td>
      </tr>
    </tbody>
  </table>
  <small ng-hide="playlist.songs.length">No songs.</small>
  <hr>
</div>